<div class="main-content image-container set-full-height" style="background-image: url('assets/img/fondos/10.jpg')">
	<div class="container-fluid">
		<div class="col-sm-8 col-sm-offset-2">
			<!--      Wizard container        -->
			<div class="wizard-container">
				<div class="card wizard-card" data-color="rose" id="wizardProfile">
					<form #registerCanchaForm="ngForm"
                    (ngSubmit)="onSubmit(registerCanchaForm)">
						<!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
						<div class="wizard-header">
							<h3 class="wizard-title">
								Registra tu cancha
							</h3>
							<h5>¡Se parte de la plataforma para reservar canchas de futbol más grande del Ecuador!</h5>
						</div>
						<div class="wizard-navigation">
							<ul>
								<li>
									<a href="#plan" data-toggle="tab">Elige tu plan</a>
								</li>
								<li>
									<a href="#ubicacion" data-toggle="tab">Ubicación</a>
								</li>
								<li>
									<a href="#empresa" data-toggle="tab">Datos de la empresa</a>
								</li>
								<li>
									<a href="#pago" data-toggle="tab">Formas de pago</a>
								</li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane" id="plan">
								<div class="row">
									<h4 class="info-text"> Paso <strong>1</strong> de <strong>4</strong></h4>
									<h5 class="text-center">Selecciona el plan ideal para ti.</h5>
									<div class="col-md-10 col-lg-offset-1">
										<div class="table-responsive">
											<table class="table table-sm">
												<thead>
													<tr>
														<th class="text-center planOption"></th>
														<th class="text-center">Básico</th>
														<th class="text-center">Estándar</th>
														<th class="text-center">Premium</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td class="text-justify planOption"><strong>Precio mensual cuando termine el mes gratis.</strong></td>
														<td class="text-center"><strong>$10,00</strong></td>
														<td class="text-center"><strong>$20,00</strong></td>
														<td class="text-center"><strong>$30,00</strong></td>
													</tr>
													<tr>
														<td class="text-justify planOption">Registro y visibilidad de la disponibilidad de las canchas (Máximo 3
															cachas en Plan básico).</td>
														<td class="text-center">X</td>
														<td class="text-center">X</td>
														<td class="text-center">X</td>
													</tr>
													<tr>
														<td class="text-justify planOption">Funcionalidad para evaluar partidos</td>
														<td class="text-center">X</td>
														<td class="text-center">X</td>
														<td class="text-center">X</td>
													</tr>
													<tr>
														<td class="text-justify planOption">Gestión de reservas online con pasarela de pagos.</td>
														<td class="text-center"></td>
														<td class="text-center">X</td>
														<td class="text-center">X</td>
													</tr>
													<tr>
														<td class="text-justify planOption">Gestión de reservas offline con pasarea de pagos</td>
														<td class="text-center"></td>
														<td class="text-center"></td>
														<td class="text-center">X</td>
													</tr>
													<tr>
														<td class="text-justify planOption">Organización de campeonatos inter-cancha</td>
														<td class="text-center"></td>
														<td class="text-center"></td>
														<td class="text-center">X</td>
													</tr>
													<tr>
														<td class="text-justify planOption">Participación en los torneos oficiales</td>
														<td class="text-center"></td>
														<td class="text-center"></td>
														<td class="text-center">X</td>
													</tr>
													<tr>
														<td class="text-justify planOption"></td>
														<td class="text-center">
															<!-- Material inline 1 -->
															<div class="form-check form-check-inline">
																<input type="radio" class="form-check-input" id="materialInline1" name="inRadioPlan" mdbInputDirective>
																<label class="form-check-label" for="materialInline1">Básico</label>
															</div>
														</td>
														<td class="text-center">
															<!-- Material inline 2 -->
															<div class="form-check form-check-inline">
																<input type="radio" class="form-check-input" id="materialInline2" name="inRadioPlan" mdbInputDirective>
																<label class="form-check-label" for="materialInline2">Estándar</label>
															</div>
														</td>
														<td class="text-center">
															<!-- Material inline 3 -->
															<div class="form-check form-check-inline">
																<input type="radio" class="form-check-input" id="materialInline3" name="inRadioPlan" mdbInputDirective>
																<label class="form-check-label" for="materialInline3">Premium</label>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="ubicacion">
								<h4 class="info-text"> Paso <strong>2</strong> de <strong>4</strong> </h4>
								<h5 class="text-center">Ingresa aquí la información de la dirección de la Cancha</h5>
								<div class="row">
									<div class="col-sm-5 col-lg-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Provincia</label>
											<select name="selectProvincia" class="form-control" #selectProvincia="ngModel" [(ngModel)]="provincia"
											 (ngModelChange)="onChange($event)">
												<option *ngFor="let prov of provincias" [ngValue]="prov">
													{{prov.provincia}}
												</option>
											</select>
										</div>
									</div>
									<div class="col-sm-5">
										<div class="form-group label-floating">
											<label class="control-label">Cantón</label>
											<select name="selectCanton" class="form-control" #selectCanton="ngModel" [(ngModel)]="canton"
											 (ngModelChange)="onChangeCanton($event)">
												<option *ngFor="let can of cantones" [ngValue]="can">
													{{can.canton}}
												</option>
											</select>
										</div>
									</div>
									<div class="col-sm-5 col-lg-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Parroquia</label>
											<select name="selectParroquia" class="form-control" #selectParroquia="ngModel" [(ngModel)]="parroquia" (ngModelChange)="onChangeParroquia($event)">
												<option *ngFor="let parr of parroquias" [value]="parr">{{parr}}</option>
											</select>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group label-floating">
											<label class="control-label">Sector
												<small>(opcional)</small>
											</label>
											<input name="inSector" type="text" class="form-control" #inSector="ngModel" [(ngModel)]="establecimiento.sector">
										</div>
									</div>
									<div class="col-md-5 col-lg-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Calle principal*</label>
											<input name="inCallePrincipal" type="text" class="form-control" #inCallePrincipal="ngModel" [(ngModel)]="establecimiento.callePrincipal">
										</div>
									</div>
									<div class="col-sm-5">
										<div class="form-group label-floating">
											<label class="control-label">Calle secundaria<small>(opcional)</small></label>
											<input name="inCalleSecundaria" type="text" class="form-control" #inCalleSecundaria="ngModel" [(ngModel)]="establecimiento.calleSecundaria">
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="empresa">
								<div class="row">
									<div class="col-sm-12">
										<h4 class="info-text"> Paso <strong>3</strong> de <strong>4</strong></h4>
										<h5 class="text-center">Información Institucional y creación de la cuenta</h5>
									</div>
									<div class="col-sm-10 col-lg-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Razón social</label>
											<input name="inRazonSocial" type="text" class="form-control" #inRazonSocial="ngModel" [(ngModel)]="establecimiento.razonSocial">
										</div>
									</div>
									<div class="col-md-12">
										<span class="col-lg-offset-1">Contacto principal - representante</span>
										<div class="row">
											<div class="col-md-5 col-lg-offset-1">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">face</i>
													</span>
													<div class="form-group label-floating">
														<label class="control-label">Nombre de contacto
															<small>(required)</small>
														</label>
														<input name="inNombreContacto" type="text" class="form-control" #inNombreContacto="ngModel" [(ngModel)]="establecimiento.nombreRepresentante">
													</div>
												</div>
											</div>
											<div class="col-md-5">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">phone</i>
													</span>
													<div class="form-group label-floating">
														<label class="control-label">Número telefónico
															<small>(required)</small>
														</label>
														<input name="inTelefono" type="text" class="form-control" #inTelefono="ngModel" [(ngModel)]="establecimiento.telefonoRepresentante">
													</div>
												</div>
											</div>
											<div class="col-lg-10 col-lg-offset-1">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">email</i>
													</span>
													<div class="form-group label-floating">
														<label class="control-label">Email
															<small>(required)</small>
														</label>
														<input name="inEmailContacto" type="email" class="form-control" #inEmailContacto="ngModel" [(ngModel)]="establecimiento.correoRepresentante">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-10 col-md-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Usuario.</label>
											<input name="inUsuario" type="text" class="form-control" #inUsuario="ngModel" [(ngModel)]="establecimiento.usuario">
										</div>
									</div>
									<div class="col-md-10 col-md-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Contraseña</label>
											<input name="inContrasena" type="password" class="form-control" #inContrasena="ngModel" [(ngModel)]="establecimiento.contrasena">
										</div>
									</div>
									<div class="col-md-10 col-md-offset-1">
										<div class="form-group label-floating">
											<label class="control-label">Repita contraseña</label>
											<input name="inContrasenaRepetida" type="password" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="pago">
								<div class="row">
									<div class="col-sm-12">
										<h4 class="info-text"> Paso <strong>4</strong> de <strong>4</strong></h4>
										<h4 class="text-center">INFORMACIÓN DE PAGO</h4>
										<div class="row">
											<div class="col-sm-7 col-sm-offset-1">
												<label>Detalles de la tarjeta</label>
												<div class="row align-items-end">
													<div class="col-sm-5">
														<div class="input-group">
															<div class="form-group label-floating">
																<label class="control-label">Número de tarjeta
																	<!--<small font-color="red">*</small>-->
																</label>
																<input type="text" class="form-control" name="sector" />
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="input-group">
															<div class="form-group label-floating">
																<label class="control-label">MM
																	<!--<small font-color="red">*</small>-->
																</label>
																<input type="text" class="form-control" name="sector" />
															</div>
														</div>
													</div>
													<div class="col-sm-3">
														<div class="input-group">
															<span class="input-group-addon">
																/
															</span>
															<div class="form-group label-floating">
																<label class="control-label">AA
																	<!--<small font-color="red">*</small>-->
																</label>
																<input type="text" class="form-control" name="sector" />
															</div>
														</div>
													</div>
													<div class="col-sm-2">
														<div class="input-group">
															<div class="form-group label-floating">
																<label class="control-label">CVC
																	<!--<small font-color="red">*</small>-->
																</label>
																<input type="text" class="form-control" name="inCVCTarjeta" />
															</div>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group label-floating">
															<label class="control-label">Nombre del titular
																<!--<small font-color="red">*</small>-->
															</label>
															<input type="text" class="form-control" name="sector" />
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="text-justify"><strong>Sin cargos automáticos cuando finaliza la prueba gratuita</strong></label>
													<p class="description text-justify">"Te pedimos tu tarjeta de crédito para asegurarnos de que
														no eres un
														robot. <strong>No</strong> se te cobrará a menos que actualices a una cuenta paga de forma
														manual."</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="wizard-footer">
							<div class="pull-right">
								<input type='button' class='btn btn-next btn-fill btn-rose btn-wd' name='next' value='Continuar' />
								<input type='submit' class='btn btn-finish btn-fill btn-rose btn-wd' name='finish' value='Finalizar' />
							</div>
							<div class="pull-left">
								<input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Anterior' />
							</div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
			<!-- wizard container -->
		</div>
	</div>
</div>