<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="green">
                                <i class="material-icons">assignment</i>
                            </div>
                            <button class="card-header card-header-icon btn btn-success" (click)=" isShow=!isShow" style="float: right;" data-background-color="green">
                                    Nueva Cancha
                            </button>
                            <div class="card-content">
                                <h4 class="card-title">Mis Canchas</h4>                                
                                <div class="table-responsive">
                                    <table class="table">
                                            <thead>
                                                <tr>
                                                <th class="text-center">{{ tableData1.headerRow[0] }}</th>
                                                <th>{{ tableData1.headerRow[1] }}</th>
                                                <th>{{ tableData1.headerRow[2] }}</th>
                                                <th>{{ tableData1.headerRow[3] }}</th>
                                                <th class="text-right">{{ tableData1.headerRow[4] }}</th>
                                                <th class="text-right">{{ tableData1.headerRow[5] }}</th>
                                                </tr>
                                            </thead>
                                        <tbody>
                                            <tr *ngFor="let row of tableData1.dataRows">
                                                <td class="text-center">{{row[0]}}</td>
                                                <td>{{row[1]}}</td>
                                                <td>{{row[2]}}</td>
                                                <td>{{row[3]}}</td>
                                                <td class="text-right">{{row[4]}}</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-success {{row[5]}}">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" class="btn btn-danger {{row[5]}}">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="container-fluid" *ngIf=" isShow">
            <div class="row"   >
                    <div class="col-md-12">
                            <div class="card">
                                    <form #registrarCancha="ngForm" (ngSubmit)="onSubmit(registrarCancha)"> 
                                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="canchas._id">
                                    <div class="card-header card-header-text" data-background-color="green">
                                        <h4 class="card-title">Nueva Cancha</h4>
                                    </div>
                                    <div class="card-content">
                                       
                                        <div class="row"> 
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Nombre Cancha</label>
                                                            <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="canchas.nombre" >
                                                        </div>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Cesped</label>
                                                            <input type="text" class="form-control" name="cesped" #cesped="ngModel" [(ngModel)]="canchas.cesped" >
                                                        </div>
                                                       <div class="row"> 
                                                        <div class="card">
                                                                <div class="card-header">
                                                                    <h4 class="card-title">Precios
                                                                        
                                                                    </h4>
                                                                    
                                                                    <small class="category">Configuración Tipica</small>
                                                                    

                                                                <div class="card-content" >
                                                                        
                                                                            <div class="row">
                                                                            <div class="col-md-12">
                                                                                    <div class="table-responsive-md">
                                                                                    <table class="table">
                                                                                            <thead>
                                                                                              <tr>
                                                                                                <th scope="col">Días/Horas</th>
                                                                                                <th scope="col">Mañana - Tarde
                                                                                                        <small class="category" float="center">(08h00 - 17h00)</small>
                                                                                                </th>
                                                                                                <th scope="col" float="center">Noche      <br>
                                                                                                        <small class="category" float="center">(18h00 - 24h00)</small>
                                                                                                </th>
                                                                                              </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                              <tr>
                                                                                                    <th scope="row">Lunes/Viernes</th>
                                                                                                <td> 

                                                                                                        <div class="form-group label-floating">
                                                                                                                
                                                                                                                <input type="text" class="form-control" name="cesped" #cesped="ngModel" [(ngModel)]="canchas.cesped" >
                                                                                                            </div>

                                                                                                </td>
                                                                                                <td>


                                                                                                        <div class="form-group label-floating">
                                                                                                                
                                                                                                                <input type="text" class="form-control" name="cesped" #cesped="ngModel" [(ngModel)]="canchas.cesped" >
                                                                                                            </div>

                                                                                                </td>
                                                                                              </tr>
                                                                                              <tr>
                                                                                                <th scope="row">Sabado/Domingo</th>
                                                                                                <td>
                                                                                                        <div class="form-group label-floating">
                                                                                                                
                                                                                                                <input type="text" class="form-control" name="cesped" #cesped="ngModel" [(ngModel)]="canchas.cesped" >
                                                                                                            </div>

                                                                                                </td>
                                                                                                <td>

                                                                                                        <div class="form-group label-floating">
                                                                                                                
                                                                                                                <input type="text" class="form-control" name="cesped" #cesped="ngModel" [(ngModel)]="canchas.cesped" >
                                                                                                            </div>

                                                                                                </td>
                                                                                              </tr>
                                                                                            </tbody>
                                                                                            </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                        

                                                                </div>
                                                                
                                                                
                                                            </div>

                                                        </div>
                                                            
                                                    </div>                  
                                                            
                                                   <div class="row"> 
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-9">
                                                                        <img src="assets/img/cancha.png" >                                                                                                                                   
                                                                         
                                                                </div>
                                                                   
                                                                    <div class="col-md-3" style=" margin-left:-61px;">
                                                                          <div class="form-group label-floating">
                                                                                    <label class="control-label">Largo</label>
                                                                                    <input type="text" class="form-control" name="largo" #largo="ngModel" [(ngModel)]="canchas.largo" >
                                                                          </div>
                                                                          <div class="form-group label-floating">
                                                                                <label class="control-label">Ancho</label>
                                                                                <input type="text" class="form-control" name="ancho" #ancho="ngModel" [(ngModel)]="canchas.ancho" >
                                                                      </div>  
                                                                      <div class="form-group label-floating">
                                                                            <label class="control-label">N° Jugadores</label>
                                                                            <input type="text" class="form-control" name="numeroJugadores" #numeroJugadores="ngModel" [(ngModel)]="canchas.numeroJugadores" >
                                                                        </div>
                                                                         </div>
                                                                
                                                            </div>        
                                                                                                                                    
                                                                  </div>
                                                                </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                                 
                                    </div>
                                        
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-success btn-fill">Guardar Cancha</button>
                                    </div>
                                </form>
                            </div>
                        </div>
             </div>
        </div>
    </div>