<form #registrarTarifa="ngForm" (ngSubmit)="onSubmitTarifa(registrarTarifa)">
    <input type="hidden" name="establecimientoId" #establecimientoId="ngModel" [(ngModel)]="establecimiento._id" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">local_offer</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nombre</label>
                                        <input type="text" class="form-control" name="nombreTarifa"
                                            #nombreTarifa="ngModel" [(ngModel)]="tarifa.nombre" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">monetization_on</i>
                                    </span>
                                    <div class="form-group label-floating">
                                        <label class="control-label">Valor <small>*</small>
                                        </label>
                                        <input required type="text" class="form-control" name="valorTarifa"
                                            #valorTarifa="ngModel" [(ngModel)]="tarifa.valor" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="togglebutton">
                                        <label>
                                            Inactivo <input type="checkbox" checked name="estadoTarifa"
                                                #estadoTarifa="ngModel" [(ngModel)]="tarifa.estado"> Activo
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <br>
                            <div class="col-md-4 col-md-offset-1 horas-tarifa">
                                <label for="inputEmail3MD" class="col-md-12 col-form-label"><strong>Dias</strong></label>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Lunes </label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="lunesTarifa" #lunesTarifa="ngModel"
                                                    [(ngModel)]="tarifa.lunes">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Martes </label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="martesTarifa" #martesTarifa="ngModel"
                                                    [(ngModel)]="tarifa.martes">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Miercoles </label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="miercolesTarifa"
                                                    #miercolesTarifa="ngModel" [(ngModel)]="tarifa.miercoles">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Jueves </label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="juevesTarifa" #juevesTarifa="ngModel"
                                                    [(ngModel)]="tarifa.jueves">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Viernes</label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="viernesTarifa" #viernesTarifa="ngModel"
                                                    [(ngModel)]="tarifa.viernes">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Sábado </label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="sabadoTarifa" #sabadoTarifa="ngModel"
                                                    [(ngModel)]="tarifa.sabado">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-4 label-on-left">Domingo </label>
                                    <div class="col-sm-6">
                                        <div class="togglebutton">
                                            <label>
                                                <input type="checkbox" name="domingoTarifa" #domingoTarifa="ngModel"
                                                    [(ngModel)]="tarifa.domingo">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 horas-tarifa">
                                <label for="inputEmail3MD" class="col-md-12 col-form-label"><strong>Horas</strong></label>
                                <div class="col-md-6 horas-tarifa">


                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">07h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="sieteTarifa" #sieteTarifa="ngModel"
                                                        [(ngModel)]="tarifa.siete">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">08h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="ochoTarifa" #ochoTarifa="ngModel"
                                                        [(ngModel)]="tarifa.ocho">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">09h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="nueveTarifa" #nueveTarifa="ngModel"
                                                        [(ngModel)]="tarifa.nueve">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">10h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="diezTarifa" #diezTarifa="ngModel"
                                                        [(ngModel)]="tarifa.diez">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">11h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="onceTarifa" #onceTarifa="ngModel"
                                                        [(ngModel)]="tarifa.once">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">12h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="doceTarifa" #doceTarifa="ngModel"
                                                        [(ngModel)]="tarifa.doce">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">13h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="treceTarifa" #treceTarifa="ngModel"
                                                        [(ngModel)]="tarifa.trece">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">14h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="catorceTarifa"
                                                        #catorceTarifa="ngModel" [(ngModel)]="tarifa.catorce">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">15h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="quinceTarifa"
                                                        #quinceTarifa="ngModel" [(ngModel)]="tarifa.quince">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 horas-tarifa">
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">16h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="diezyseisTarifa"
                                                        #diezyseisTarifa="ngModel" [(ngModel)]="tarifa.diezyseis">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">17h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="diezysieteTarifa"
                                                        #diezysieteTarifa="ngModel" [(ngModel)]="tarifa.diezysiete">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">18h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="diezyochoTarifa"
                                                        #diezyochoTarifa="ngModel" [(ngModel)]="tarifa.diezyocho">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">19h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="diezynueveTarifa"
                                                        #diezynueveTarifa="ngModel" [(ngModel)]="tarifa.diezynueve">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">20h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="veinteTarifa"
                                                        #veinteTarifa="ngModel" [(ngModel)]="tarifa.veinte">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">21h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="veinteyunoTarifa"
                                                        #veinteyunoTarifa="ngModel" [(ngModel)]="tarifa.veinteyuno">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">22h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="veinteydosTarifa"
                                                        #veinteydosTarifa="ngModel" [(ngModel)]="tarifa.veinteydos">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">23h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="veinteytresTarifa"
                                                        #veinteytresTarifa="ngModel" [(ngModel)]="tarifa.veinteytres">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-sm-4 label-on-left">00h00</label>
                                        <div class="col-sm-6">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" name="ceroTarifa" #ceroTarifa="ngModel"
                                                        [(ngModel)]="tarifa.cero">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="text-align: right;">
                    <button type="submit" class="btn btn-success btn-fill">Guardar tarifa</button>
                    &nbsp;
                    <button id="cancelarModalTarifa" class="btn btn-deep-orange" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
</form>