<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">business</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Establecimiento
                            <br>
                            <small class="category">Completa los datos del establecimiento</small>
                        </h4>
                        <form #ActualizarEstablecimientoForm="ngForm" (ngSubmit)="onSubmit(ActualizarEstablecimientoForm)"> 
                                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="establecimiento._id">
                            <!--<div class="row">
                                <div class="col-md-5">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company (disabled)</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email address</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Razón Social</label>
                                        <input disabled type="text" class="form-control" name="correo" #correo="ngModel" [(ngModel)]="establecimiento.razonSocial" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Representante</label>
                                        <input type="text" class="form-control" name="representante" #representante="ngModel" [(ngModel)]="establecimiento.representante" >
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">País</label>
                                        <select class="form-control form-control-sm">
                                                <option>Seleccione</option>
                                              </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Provincia</label>
                                        <select class="form-control form-control-sm">
                                                <option>Seleccione</option>
                                              </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Ciudad</label>
                                        <select class="form-control form-control-sm">
                                                <option>Seleccione</option>
                                              </select>
                                    </div>
                                </div>
                            </div>
                        -->
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                    <label class="control-label">Ciudad
                                    </label>
                                    <input type="text" class="form-control" name="ciudad" #ciudad="ngModel" [(ngModel)]="establecimiento.direccion.ciudad" >
                                </div>
                            </div> 
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group label-floating">
                                <label class="control-label">Sector
                                </label>
                                <input type="text" class="form-control" name="sector" #sector="ngModel" [(ngModel)]="establecimiento.direccion.sector" >
                            </div>
                        </div> 
                    </div>

                            <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Calle Principal</label>
                                            <input type="text" class="form-control" name="callePrincipal" #callePrincipal="ngModel" [(ngModel)]="establecimiento.direccion.callePrincipal" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Calle Secundaria</label>
                                                <input type="text" class="form-control" name="calleSecundaria" #calleSecundaria="ngModel" [(ngModel)]="establecimiento.direccion.calleSecundaria" >
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                                <h3> <span class="label label-primary">Redes Sociales</span></h3>
                                        </div>
                                    </div>
                                       <div class="row">
                                            <div class="col-md-4">
                                               <div class="form-group label-floating">
                                                  <label class="control-label">Sitio Web</label>
                                                       <input type="text" class="form-control" name="sitioWeb" #sitioWeb="ngModel" [(ngModel)]="establecimiento.sitioWeb">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                    <div class="form-group label-floating">
                                                       <label class="control-label">Facebook</label>
                                                            <input type="text" class="form-control" name="facebook" #facebook="ngModel" [(ngModel)]="establecimiento.redesSociales.facebook">
                                                     </div>
                                                 </div>
                                                 <div class="col-md-4">
                                                        <div class="form-group label-floating">
                                                           <label class="control-label">Instagram</label>
                                                                <input type="text" class="form-control" name="instagram" #instagram="ngModel" [(ngModel)]="establecimiento.redesSociales.instagram">
                                                         </div>
                                                     </div>                                        
                                        </div>
                                        <div class="row">
                                                <div class="col-md-4">
                                                   <div class="form-group label-floating">
                                                      <label class="control-label">Twitter</label>
                                                           <input type="text" class="form-control" name="twitter" #twitter="ngModel" [(ngModel)]="establecimiento.redesSociales.twitter">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                        <div class="form-group label-floating">
                                                           <label class="control-label">Youtube</label>
                                                                <input type="text" class="form-control" name="youtube" #youtube="ngModel" [(ngModel)]="establecimiento.redesSociales.youtube">
                                                         </div>
                                                     </div>
                                                     <div class="col-md-4">
                                                            <div class="form-group label-floating">
                                                               <label class="control-label">Snapchat</label>
                                                                    <input type="text" class="form-control" name="snapchat" #snapchat="ngModel" [(ngModel)]="establecimiento.redesSociales.snapchat">
                                                             </div>
                                                         </div>                                        
                                            </div>
                                    

                                            <br>
                            <button type="submit" class="btn pull-right" data-background-color="blue">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-content">
                    <div class="col-md-12">
                        <br>
                            <div class="col-md-12"><strong>Atención al Cliente</strong></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label for="exampleInput">Desde</label>
                                            <input type="time" class="form-control" name="inicio" #inicio="ngModel" [(ngModel)]="establecimiento.atencion.inicio" required />
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group label-floating">
                                                <label>Hasta</label>
                                                <input type="time" class="form-control" name="cierre" #cierre="ngModel" [(ngModel)]="establecimiento.atencion.cierre" required >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
