/*
   server-side-angular-way.component.css
*/
.no-data-available {
  text-align: center;
}

/*
   src/styles.css (i.e. your global style)
*/
.dataTables_empty {
  display: none;
}

.pad-0{
  padding-top: 0px;
}

#patop-0{
    padding-top: 0;
    margin-top: 0;
}