<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
            <div class="main-content">
                <div class="container-fluid">
                    <h3>Seleccionar Cancha</h3>
                    <div class="row">
                        <div class="col-md-12">
                          <!-- <form #crearAlquiler="ngForm" (ngSubmit)="onSubmit(crearAlquiler)">  -->
                                <form>
                                <div>
                                    <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="NewAlquiler._id" /> -->
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="material-icons">calendar_today</i>
                                                            </span>
                                                            <div class="form-group label-floating">
                                                                <!-- <label class="control-label">Canchas</label> -->
                                                                <select name="selectTarifa" class="form-control">
                                                                    <option value="todas" selected>Canchas</option>
                                                                   <option *ngFor="let cancha of canchas">
                                                                     {{cancha.nombre}}
                                                                  </option>
                                                    </select>
                                                            </div>
                                                        </div>
                                                      </div>
                                                  <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">calendar_today</i>
                                                        </span>
                                                        <div class="form-group label-floating">
                                                            <!-- <label class="control-label">Email</label> -->
                                                            <input type="date" class="form-control" name="correo">
                                                        </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                      <div class="input-group">
                                                          <span class="input-group-addon">
                                                              <i class="material-icons">calendar_today</i>
                                                          </span>
                                                          <div class="form-group label-floating">
                                                              <!-- <label class="control-label">Horas DIsponibles</label> -->
                                                              <select name="selectTarifa" class="form-control">
                                                                  <option value="todas" selected>Horas</option>
                                                                <!-- <option *ngFor="let cancha of canchas">
                                                                                                                   
                                                                   {{cancha.misTarifas.nombre}}
                                                                </option> -->
                                                                <option value="cero">00H00</option>
                                                                <option value="una">01H00</option>
                                                                <option value="dos">02H00</option>
                                                                <option value="tres">03H00</option>
                                                                <option value="cuatro">04H00</option>
                                                                <option value="cinco">05H00</option>
                                                                <option value="seis">06H00</option>
                                                                <option value="siete">07H00</option>
                                                                <option value="ocho">08H00</option>
                                                                <option value="nueve">09H00</option>
                                                                <option value="diez">10H00</option>
                                                                <option value="once">11H00</option>
                                                                <option value="doce">12H00</option>
                                                                <option value="trece">13H00</option>
                                                                <option value="catorce">14H00</option>
                                                                <option value="quince">15H00</option>
                                                                <option value="diezyseis">16H00</option>
                                                                <option value="diezysiete">17H00</option>
                                                                <option value="diezyocho">18H00</option>
                                                                <option value="diezynueve">19H00</option>
                                                                <option value="veinte">20H00</option>
                                                                <option value="veinteyuno">21H00</option>
                                                                <option value="veinteydos">22H00</option>
                                                                <option value="veinteytres">23H00</option>
                                                  </select>
                                                          </div>
                                                      </div>
                                                    
                                                    </div>
                                                    &nbsp;
                                                    <div class="col-md-12">
                                                        <button class="btn btn-sm" style="float: right;" type="button" 
                                                        data-background-color="green">Pre Alquiler</button>
                                                    </div>
                                                   

                                                    &nbsp;
                                                    <div class="card">
                                                        <div class="card-header card-header-icon" style="float: left;"
                                                            data-background-color="green">
                                                            Mis alquileres
                                                        </div>
                                                        &nbsp;
                                                        <div class="card-content">
                                                            <input type="hidden">
                                                            <ul class="list-group">
                                                                <li *ngFor="let ta of misTarifas; index as i" class="list-group-item">
                                                                    <a href=" ">
                                                                        <strong>
                                                                            {{ta.nombre}} : 
                                                                        </strong>
                                                                        <span>
                                                                            ${{ta.valor}}
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <!-- <div class="table-responsive">
                                                                <table class="table table-striped table-bordered table-hover" id="datatable-details-alquiler" ng-table="tableTarifa" show-filter="true">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="">#</th>
                                                                            <th class="">Nombre</th>
                                                                            <th class="">Valor</th>
                                                                            <th class="">Estado</th>
                                                                            <th class="">Opciones</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let ta of tarifasMias; index as i">
                                                                            <td class="">{{ i + 1 }}</td>
                                                                            <td class=" hidden">{{ ta._id }}</td>
                                                                            <td>{{ ta.nombre }}</td>
                                                                            <td>{{ ta.valor }}</td>
                                                                            <td>{{ ta.estado }}</td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
      </div>
    </div>
  </div>
</div>