<div class="wrapper wrapper-full-page">
        <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Mangol</a>
                </div>
                <div class="collapse navbar-collapse" id="menu-example">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li>
                            <a href="/dashboard">
                                <i class="material-icons">dashboard</i> Dashboard
                            </a>
                        </li>
                        -->
                        <li>
                            <a href="/register">
                                <i class="material-icons">person_add</i> Registrate
                            </a>
                        </li>
                        <li >
                                <a href="/register-establecimiento">
                                    <i class="material-icons">security</i> Registra tu cancha
                                </a>
                            </li>
                        <li >
                            <a href="/login">
                                <i class="material-icons">fingerprint</i> Login
                            </a>
                        </li>
                       <!-- <li class="">
                            <a href="/pages/lock">
                                <i class="material-icons">lock_open</i> Lock
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="full-page register-page" filter-color="green" data-image="../../../assets/img/cancha-login.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                        <div class="card card-signup">
                                <div class="col-md-12">
                                    <div class="row">
                        
                                    <div  class="col-md-12">
                            <h4 class="text-left">Canchas disponibles en: <b>Portoviejo</b>&nbsp;&nbsp;&nbsp;&nbsp;<a style="cursor:pointer" data-toggle="modal" data-target="#modalCambiarCiudad"><u><font color="blue" size=1>Cambiar Ubicación</font></u></a></h4>
                        </div>
                       
                </div>
                                    <div class="table-responsive">
                            <table id="datatable-details-alquiler" class="table table-striped table-bordered table-hover">
                                    <thead>
                                      <tr >
                                        <th >Establecimiento/Cancha</th>
                                        <th >Hora</th>
                                        <th >Valor</th>
                                        <th >Estado</th>
                                        <th style="display: none">Dirección</th>
                                      </tr>
                                    </thead>
                                    <tbody style="text-align: center;">
                                      <tr >
                                        <td style="text-align: left;">AVENTURAFC / cancha1(La poderosa)</td>
                                        <td>09H00</td>
                                        <td>$20.00</td>
                                        <td class="btn btn-success">Disponible</td>
                                        <td style="display: none"> </td>
                                      </tr>
                                      <tr>
                                        <td style="text-align: left;">AVENTURAFC / cancha2(La Bombonera)</td>
                                        <td>10H00</td>
                                        <td>$20.00</td>
                                        <td class="btn btn-success">Disponible</td>
                                        <td style="display: none"> </td>
                                      </tr>
                                      <tr>
                                        <td style="text-align: left;">REPUBLICA / cancha3(S/N)</td>
                                        <td>19H00</td>
                                        <td>$24.00</td>
                                        <td class="btn btn-success">Disponible</td>
                                        <td style="display: none"> </td>
                                      </tr>
                                      <tr>
                                        <td style="text-align: left;">REPUBLICA / cancha2(S/N)</td>
                                        <td>16H00</td>
                                        <td>$20.00</td>
                                        <td class="btn btn-success">Disponible</td>
                                        <td style="display: none"> </td>
                                      </tr>
                                      <tr>
                                        <td style="text-align: left;">REPUBLICA / cancha1(S/N)</td>
                                        <td>07H00</td>
                                        <td>$20.00</td>
                                        <td class="btn btn-success">Disponible</td>
                                        <td style="display: none"> </td>
                                      </tr>
                                     </tbody>
                                  </table>
                                </div>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                           <!-- <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>-->
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <!--<li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>-->
                        </ul>
                    </nav>
                    <p class="copyright pull-left">
                        &copy;
                        {{test | date: 'yyyy'}}
                        <a href="#">CacicusTech</a>
                    </p>
                </div>
            </footer>
        </div>

        <div class="modal fade" id="modalCambiarCiudad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title"><b>Nueva Dirección</b></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">Salir</span>
                    </button>
                </div>
                <form #registrarDireccion="ngForm" (ngSubmit)="onSubmit(registrarDireccion)">
                    <div class="modal-body">
                        <!--input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="newCancha._id" />-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                            <div class="col-xs-6 col-sm-4">
                                                    <div class="form-group label-floating">
                                                            <label class="control-label">Provincia</label>
                                                            <select
                                                              class="form-control"
                                                              name="Provincia"
                                                             >
                                                              <option
                                                                *ngFor="let prov of provincias"
                                                                [value]="prov.provincia">{{ prov.provincia }}
                                                                </option
                                                              >
                                                            </select>
                                                          </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4">
                                                    <div class="form-group label-floating">
                                                            <label class="control-label">Canton</label>
                                                            <select
                                                              class="form-control"
                                                              name="Canton"
                                                              >
                                                              <option
                                                                *ngFor="let cant of cantones"
                                                                [value]="cant.canton"
                                                                >{{ cant.canton }}</option
                                                              >
                                                            </select>
                                                          </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4">
                                                    <div class="form-group label-floating">
                                                            <label class="control-label">Parroquia</label>
                                                            <select
                                                              class="form-control"
                                                              name="parroquia"
                                                              >
                                                              <option
                                                                *ngFor="let parr of parroquias"
                                                                [value]=""
                                                                >{{ parr }}</option>
                                                            </select>
                                                          </div>
                                            </div>
                            
                                        
                                       
                                    </div>
                                </div>

                               
                            </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-success btn-fill">Guardar</button>
                        <button class="btn btn-deep-orange" type="button" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    