<form #cambiarUbicacion="ngForm" (ngSubmit)="onSubmit(cambiarUbicacion)">
<div class="row">
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Provincia</label>
        <select name="selectProvincia" class="form-control" #selectProvincia="ngModel" [(ngModel)]="provincia"
         (ngModelChange)="onChange($event)">
          <option *ngFor="let prov of provincias" [ngValue]="prov">
            {{prov.provincia}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Cantón</label>
        <select name="selectCanton" class="form-control" #selectCanton="ngModel" [(ngModel)]="canton"
         (ngModelChange)="onChangeCanton($event)">
          <option *ngFor="let can of cantones" [ngValue]="can">
            {{can.canton}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group label-floating">
        <label class="control-label">Parroquia</label>
        <select name="selectParroquia" class="form-control" #selectParroquia="ngModel" [(ngModel)]="parroquia" (ngModelChange)="onChangeParroquia($event)">
          <option *ngFor="let parr of parroquias" [value]="parr">{{parr}}</option>
        </select>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <div class="form-group label-floating">
        <button type="submit" class="btn btn-success" [ngClass]="{'disabled':!provincia}">Aceptar</button>
        <button class="btn btn-warning" data-dismiss="modal" id="cancelarModalCambiarUbicacion" name="cancelarModalCambiarUbicacion">Cancelar</button>
      </div>
    </div>
  </div>
</form>