<div class="main-content">
    <div class="container-fluid">
        <h3>Crear Cancha</h3>
        <div class="row">
            <div class="col-md-12">
                <form #editarCancha="ngForm" (ngSubmit)="onSubmit(editarCancha)">
                    <div>
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="newCancha._id" />
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nombre</label>
                                                    <input type="text" class="form-control" name="nombre" #nombre="ngModel"
                                                        [(ngModel)]="newCancha.nombre" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Tipo de césped</label>
                                                    <select class="mdb-select md-form form-control" #cesped="ngModel"
                                                        [(ngModel)]="newCancha.cesped" name="cesped">
                                                        <!-- <option value="" disabled selected>Seleccione el tipo de
                                                          Cesped.</option> -->
                                                        <option value="Sintético">Sintético</option>
                                                        <option value="Natural">Natural</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">N° Jugadores</label>
                                                    <input type="text" class="form-control" name="numeroJugadores"
                                                        #numeroJugadores="ngModel" [(ngModel)]="newCancha.numeroJugadores" />
                                                </div>
                                            </div>
                                            <!-- <br>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <label class="col-sm-1 label-on-left">Estado </label>
                                                    <div class="col-sm-11">
                                                        <div class="togglebutton">
                                                            <label>
                                                                <input type="checkbox" name="estado" #estado="ngModel"
                                                                    [(ngModel)]="newCancha.estado">
                                                            </label>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div> -->
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-2" style="margin-right: -37px; margin-top: 10px;">
                                                <label class="label-on-left">Estado </label>
                                                <div class="togglebutton">
                                                    <label>
                                                        <input type="checkbox" name="estado" #estado="ngModel"
                                                            [(ngModel)]="newCancha.estado">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Tarifas</label>
                                                    <select name="selectTarifa" class="form-control" #selectTarifa="ngModel"
                                                        [(ngModel)]="newCancha.tarifa" (ngModelChange)="onChange($event)">
                                                        <option *ngFor="let tarifa of tarifas" [ngValue]="tarifa">
                                                            {{tarifa.nombre}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="margin-top: 20px;">
                                                <div class="text-right">
                                                    <button (click)="agregarTarifa()" class="btn btn-sm" type="button"
                                                        data-background-color="green">Agregar</button>
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="margin-top: 20px;">
                                                <div class="text-right">
                                                    <button class="btn btn-deep-orange btn-sm" type="button"
                                                        data-background-color="green" data-toggle="modal" data-target="#modalNuevaTarifaForm">Nueva
                                                        tarifa</button>
                                                </div>
                                            </div>
                                        </div>
                                        &nbsp;
                                        <div class="card">
                                            <div class="card-header card-header-icon" style="float: left;"
                                                data-background-color="green">
                                                Mis tarifas
                                            </div>
                                            &nbsp;
                                            <div class="card-content">
                                                <input type="hidden" name="misTarifas" #miTarifa="ngModel" [(ngModel)]="newCancha.misTarifas"/>
                                                <ul class="list-group">
                                                    <li *ngFor="let ta of misTarifas; index as i" class="list-group-item">
                                                        <a href=" ">
                                                            <strong>
                                                                {{ta.nombre}} : 
                                                            </strong>
                                                            <span>
                                                                ${{ta.valor}}
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-- <div class="table-responsive">
                                                    <table class="table table-striped table-bordered table-hover" id="datatable-details-alquiler" ng-table="tableTarifa" show-filter="true">
                                                        <thead>
                                                            <tr>
                                                                <th class="">#</th>
                                                                <th class="">Nombre</th>
                                                                <th class="">Valor</th>
                                                                <th class="">Estado</th>
                                                                <th class="">Opciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let ta of tarifasMias; index as i">
                                                                <td class="">{{ i + 1 }}</td>
                                                                <td class=" hidden">{{ ta._id }}</td>
                                                                <td>{{ ta.nombre }}</td>
                                                                <td>{{ ta.valor }}</td>
                                                                <td>{{ ta.estado }}</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col-md-4"><br>
                                                    <div class="col-md-12"></div><br><br>
                                                    <div class="col-md-12">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Largo</label>
                                                            <input type="text" class="form-control" name="largo" #largo="ngModel"
                                                                [(ngModel)]="newCancha.largo" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 text-center">
                                                    <img src="assets/img/cancha.png" />
                                                </div>
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 text-center">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Ancho</label>
                                                        <input type="text" class="form-control" name="ancho" #ancho="ngModel"
                                                            [(ngModel)]="newCancha.ancho" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success btn-fill">Guardar Cancha</button>
                        <button class="btn btn-deep-orange" type="button" href="/canchas/" [routerLink]="['/canchas/canchas']">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Nuevo Modal  -->

<div class="modal fade" id="modalNuevaTarifaForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Nueva tarifa</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body"> 
                <app-tarifas-form></app-tarifas-form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-fill">Guardar tarifa</button>
                    &nbsp;
                    <button id="cancelarModalTarifa" class="btn btn-deep-orange" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>